language: go
go:
    - 1.11
before_install:
    - go get github.com/tcnksm/ghr
    - go get github.com/aktau/github-release
install:
    - chmod +x automake.sh
    - ./automake.sh
    - V=`cat VERSION`
    - T=`echo $V | cut -d o -f 2`
    - github-release release -u Baozisoftware -s $GITHUB_TOKEN -r go -t $T -n $V -d "Based $T official version."
    - ghr -u Baozisoftware -t $GITHUB_TOKEN -replace $T ../releases/
    - exit 0
notifications:
    email: false
